@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.container1 {
  padding: 2rem 5rem;
}
.t-div {
  background: linear-gradient(
    var(--ds-background-accent-green-bolder, #006644),
    var(--ds-background-accent-green-subtle, #00875a)
  );
}
.peer:hover > div{
  display: block;
}
input#userId:not(:placeholder-shown) + label {
  font-size: 12px;
  opacity: 1;
  transform: translate3d(0px, -1rem, 0px);
}
@media (max-width: 770px) {
  .container1 {
    padding: 1rem 2rem;
  }
  .card {
    width: calc(50% - 25px);
    height: 5rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1300px;
  }
}
